<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="TPReadOnlyDataServiceSoap"
            closeTimeout="00:11:00"
             openTimeout="00:11:00"
             receiveTimeout="00:10:00"
             sendTimeout="00:11:00"
             allowCookies="false"
             bypassProxyOnLocal="false"
             hostNameComparisonMode="StrongWildcard"
             maxBufferSize="2147483647"
             maxBufferPoolSize="2147483647"
             maxReceivedMessageSize="2147483647"
             messageEncoding="Text"
             textEncoding="utf-8"
             transferMode="Buffered"
             useDefaultWebProxy="true">
            <readerQuotas maxDepth="32"
                          maxStringContentLength="2147483647"
                          maxArrayLength="2147483647"
                          maxBytesPerRead="2147483647"
                          maxNameTableCharCount="2147483647" />
          </binding>

        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://bromcom.ashbyschool.org.uk/Nucleus/WebServices/ThirdParty/TPReadOnlyDataService.asmx"
            binding="basicHttpBinding" bindingConfiguration="TPReadOnlyDataServiceSoap"
            contract="Soapy.TPReadOnlyDataServiceSoap" name="TPReadOnlyDataServiceSoap" />
      </client>
    </system.serviceModel>
</configuration>